.movies-cards {
  max-width: 1140px;
  margin: 0 auto;
  padding: 70px 0;
  box-sizing: border-box;
}

.movies-cards__cards {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  justify-content: center;
  grid-template: auto / repeat(auto-fit, 360px);
  row-gap: 32px;
  column-gap: 28px;
}

.movies-cards__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 80px;
  box-sizing: border-box;
}

.movies-cards__button-more {
  width: 320px;
  height: 36px;
  border: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  background: #f4f4f4;
  border-radius: 6px;
}

@media screen and (max-width: 1280px) {
  .movies-cards {
    max-width: calc(708px + (1140 - 708) * var(--lg));
  }

  .movies-cards__cards {
    grid-template: auto / repeat(auto-fit, calc(342px + (360 - 342) * var(--lg)));
    column-gap: calc(24px + (28 - 24) * var(--lg));
  }
}

@media screen and (max-width: 768px) {
  .movies-cards {
    max-width: calc(292px + (708 - 292) * var(--md));
    padding-top: calc(40px + (70 - 40) * var(--md));
  }

  .movies-cards__cards {
    grid-template: auto / repeat(auto-fit, calc(300px + (342 - 300) * var(--md)));
    row-gap: 35px;
  }

  .movies-cards__button-more {
    width: calc(240px + (320 - 240) * var(--md));
  }
}

@media screen and (max-width: 320px) {
  .movies-cards__cards {
    row-gap: 16px;
  }
}
