.movies-card {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  background: #fff;
}

.movies-card__header {
  height: 54px;
  display: flex;
  justify-content: space-between;
  padding: 18px;
  box-sizing: border-box;
}

.movies-card__title {
  max-width: 240px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movies-card__time {
  max-width: 70px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  color: #a0a0a0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movies-card__img {
  width: 100%;
  height: 200px;
}

.movies-card__footer {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movies-card__button {
  text-align: center;
  width: 100px;
  height: 29px;
  border-radius: 30px;
  border: 0;
  padding: 0;
  transition: opacity 0.3s linear;
}

.movies-card__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.movies-card__button_type_save {
  background: #f4f4f4;
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
}

.movies-card__button_type_like {
  background: #ee3465;
  background-image: url('../../images/movies-card-button-like.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.movies-card__button_type_delete {
  background: #f4f4f4;
  background-image: url('../../images/movies-card-button-delete.svg');
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .movies-card__title {
    max-width: 224px;
  }

  .movies-card__img {
    height: 190px;
  }
}

@media screen and (max-width: 425px) {
  .movies-card__header {
    height: 46px;
    padding: 14px;
  }

  .movies-card__title {
    font-weight: 700;
    font-size: 12px;
    max-width: 200px;
  }

  .movies-card__time {
    font-weight: 700;
    font-size: 10px;
    max-width: 50px;
  }

  .movies-card__img {
    height: 169px;
  }

  .movies-card__footer {
    height: 57px;
  }
}
