.profile {
  --md: calc((100vw - 320px) / (768 - 320));
  --lg: calc((100vw - 768px) / (1280 - 768));
  max-width: 410px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 74px 0 70px;
  box-sizing: border-box;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  text-align: center;
}

.profile__form {
  margin-top: 123px;
  min-height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile__form-fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
}

.profile__form__label {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  margin-bottom: 17px;
  border-bottom: 1px solid #e8e8e8;
  box-sizing: border-box;
}

.profile__form__label:last-of-type {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.profile__form__label-text {
  max-width: 140px;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__form__input {
  max-width: 120px;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  background-color: inherit;
}

.profile__form-handler {
  font-size: 13px;
  line-height: 16px;
  padding: 0;
  background: inherit;
  border: 0;
  margin-bottom: 16px;
  transition: opacity 0.3s linear;
}

.profile__form-handler:hover {
  cursor: pointer;
  opacity: 0.8;
}

.profile__form-handler:last-of-type {
  margin-bottom: 0;
}

.profile__form-handler_type_edit {
  font-weight: 400;
  color: #000;
}

.profile__form-handler_type_logout {
  font-weight: 500;
  color: #ee3465;
}

@media screen and (max-width: 1280px) {
  .profile {
    padding-top: calc(236px + (74 - 236) * var(--lg));
    padding-bottom: calc(269px + (70 - 269) * var(--lg));
  }

  .profile__form {
    margin-top: calc(96px + (123 - 96) * var(--lg));
    min-height: calc(320px + (330 - 320) * var(--lg));
  }
}

@media screen and (max-width: 768px) {
  .profile {
    width: calc(260px + (410 - 260) * var(--md));
    padding-top: calc(70px + (236 - 70) * var(--md));
    padding-bottom: calc(40px + (269 - 40) * var(--md));
  }

  .profile__form {
    margin-top: calc(80px + (96 - 80) * var(--md));
    min-height: calc(487px + (320 - 487) * var(--md));
  }
}

@media screen and (max-width: 500px) {
  .profile {
    width: calc(260px + (410 - 260) * var(--md));
    padding-top: calc(70px + (236 - 70) * var(--md));
    padding-bottom: calc(40px + (269 - 40) * var(--md));
  }

  .profile__form {
    margin-top: calc(80px + (96 - 80) * var(--md));
    min-height: calc(487px + (320 - 487) * var(--md));
  }

  .profile__form-handler {
    font-size: 12px;
    line-height: 15px;
  }
}
