.animated-button {
  transition: opacity 0.2s linear;
}

.animated-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.animated-link {
  transition: opacity 0.2s linear;
}

.animated-link:hover {
  cursor: pointer;
  opacity: 0.7;
}
