.app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  width: 100%;
  font-family: 'Inter', Arial, sans-serif;
  color: #000;
  background-color: #fff;
  --md: calc((100vw - 320px) / (768 - 320));
  --lg: calc((100vw - 768px) / (1280 - 768));
}
