.auth-navigation {
  --md: calc((100vw - 320px) / (768 - 320));
  display: flex;
  align-items: center;
}

.auth-navigation__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.auth-navigation__list-item {
  display: flex;
  margin-right: 30px;
}

.auth-navigation__list-item:last-of-type {
  margin-right: 0;
}

.auth-navigation__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}

.auth-navigation__link_type_signup {
  color: #000;
}

.auth-navigation__link_type_signin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 32px;
  background-color: #3456f3;
  border-radius: 3px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .auth-navigation__link {
    font-size: calc(10px + (12 - 10) * var(--md));
  }

  .auth-navigation__list-item {
    margin-right: calc(14px + (30 - 14) * var(--md));
  }

  .auth-navigation__link_type_signin {
    width: calc(54px + (76 - 54) * var(--md));
    height: calc(26px + (32 - 26) * var(--md));
  }
}
