.header {
  --md: calc((100vw - 320px) / (768 - 320));
  --lg: calc((100vw - 768px) / (1280 - 768));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 70px;
  box-sizing: border-box;
  background: inherit;
}

.header__logo {
  display: block;
  width: 38px;
  height: 38px;
}

@media screen and (max-width: 1280px) {
  .header {
    padding: 18px calc(30px + (70 - 30) * var(--lg));
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px calc(14px + (30 - 14) * var(--md));
  }
}
