.about-project {
  background-color: #fafafa;
}

.about-project__wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 110px 0;
  box-sizing: border-box;
}

.about-project__description-list {
  display: flex;
  margin: 70px 0 0;
  padding: 0;
  list-style: none;
}

.about-project__description-list-item {
  display: block;
  max-width: 550px;
  margin-right: 40px;
}

.about-project__description-list-item:last-of-type {
  margin-right: 0;
  margin-bottom: 0;
}

.about__description-title {
  min-width: 100%;
  margin: 0 0 26px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.about__description-text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.about-project__timeline-list {
  display: grid;
  grid-template-columns: 20% 80%;
  list-style: none;
  padding: 0;
  margin: 110px 0 0;
}

.about-project__timeline-list-item {
  display: flex;
  flex-direction: column;
}

.about-project__timeline-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 14px;
  min-height: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.about-project__timeline-title_type_front {
  background: #3456f3;
  color: #fff;
}

.about-project__timeline-title_type_back {
  background: #f2f2f2;
}

.about-project__timeline-subtitle {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
}

@media screen and (max-width: 1280px) {
  .about-project__wrapper {
    max-width: calc(668px + (1140 - 668) * (100vw - 768px) / (1280 - 768));
    padding: calc(90px + (110 - 90) * (100vw - 768px) / (1280 - 768)) 0;
  }

  .about-project__description-list-item {
    max-width: calc(319px + (550 - 319) * (100vw - 768px) / (1280 - 768));
    margin-right: calc(30px + (40 - 30) * (100vw - 768px) / (1280 - 768));
  }

  .about__description-title {
    margin: 0 0 calc(22px + (26 - 22) * (100vw - 768px) / (1280 - 768));
  }

  .about__description-text {
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__timeline-list {
    margin-top: calc(93px + (110 - 93) * (100vw - 768px) / (1280 - 768));
  }
}

@media screen and (max-width: 768px) {
  .about-project__wrapper {
    max-width: calc(284px + (668 - 284) * (100vw - 320px) / (768 - 320));
    padding: calc(70px + (90 - 70) * (100vw - 320px) / (768 - 320)) 0;
  }

  .about-project__description-list {
    margin-top: calc(60px + (70 - 60) * (100vw - 320px) / (768 - 320));
  }

  .about__description-title {
    margin-bottom: calc(16px + (22 - 16) * (100vw - 320px) / (768 - 320));
    font-size: calc(20px + (20 - 18) * (100vw - 320px) / (768 - 320));
  }

  .about-project__timeline-list {
    margin-top: calc(60px + (93 - 60) * (100vw - 320px) / (768 - 320));
  }

  .about-project__timeline-title,
  .about-project__timeline-subtitle {
    font-size: calc(11px + (14 - 11) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width: 675px) {
  .about-project__description-list {
    flex-direction: column;
    align-items: center;
  }

  .about-project__description-list-item {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 56px;
  }

  .about-project__timeline-list {
    display: grid;
    grid-template-columns: 35.2% calc(100% - 35.2%);
  }
}

@media screen and (max-width: 320px) {
  .about__description-title {
    line-height: 22px;
  }

  .about__description-text {
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__timeline-title {
    margin-bottom: 10px;
  }

  .about-project__timeline-title,
  .about-project__timeline-subtitle {
    line-height: 13px;
  }
}
