.about-project {
  background-color: #fafafa;
}

.about-project__wrapper {
  max-width: 1140px;
  padding: 90px 0;
  box-sizing: border-box;
  margin: 0 auto;
}

.about-project__description-list {
  max-width: 100%;
  list-style: none;
  margin: 70px 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(319px, 1fr));
  column-gap: 40px;
}

.about-project__description-list-item {
  display: flex;
  flex-direction: column;
}

.about__description-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin: 0 0 26px;
}

.about__description-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.about-project__timeline {
  display: grid;
  grid-template-columns: 228px 1fr;
  grid-template-rows: 36px min-content;
  row-gap: 14px;
  place-items: center;
  margin: 110px 0 0;
  font-size: 14px;
  line-height: 17px;
}

.about-project__timeline-title {
  font-weight: 400;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.about-project__timeline-title_color_blue {
  color: #fff;
  background: #3456f3;
}

.about-project__timeline-title_color_grey {
  color: #000;
  background: #f2f2f2;
}

.about-project__timeline-subtitle {
  font-weight: 500;
  color: #a0a0a0;
}

@media screen and (max-width: 1280px) {
  .about-project__wrapper {
    max-width: calc(668px + (1140 - 668) * var(--lg));
    padding: calc(90px + (110 - 90) * var(--lg)) 0;
  }

  .about__description-title {
    margin-bottom: calc(22px + (26 - 22) * var(--lg));
  }

  .about__description-text {
    font-size: calc(12px + (14 - 12) * var(--lg));
    line-height: calc(18px + (20 - 18) * var(--lg));
  }

  .about-project__timeline {
    grid-template-columns: calc(140px + (228 - 140) * var(--lg)) 1fr;
    margin-top: calc(93px + (110 - 93) * var(--lg));
  }
}

@media screen and (max-width: 768px) {
  .about-project__wrapper {
    max-width: calc(284px + (668 - 284) * var(--md));
    padding: calc(70px + (90 - 70) * var(--md)) 0;
  }

  .about-project__description-list {
    margin-top: calc(60px + (70 - 60) * var(--md));
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    column-gap: 30px;
    row-gap: 56px;
  }

  .about__description-title {
    margin-bottom: calc(16px + (22 - 16) * var(--md));
    font-size: calc(20px + (20 - 18) * var(--md));
  }

  .about__description-text {
    font-size: calc(11px + (12 - 11) * var(--md));
    line-height: calc(16px + (18 - 16) * var(--md));
  }

  .about-project__timeline {
    grid-template-columns: calc(100px + (140 - 100) * var(--md)) 1fr;
    margin-top: calc(60px + (93 - 60) * var(--md));
    font-size: calc(11px + (14 - 11) * var(--md));
    line-height: calc(13px + (17 - 13) * var(--md));
    row-gap: calc(10px + (14 - 10) * var(--md));
  }
}
